<div class="forms_page">
<div class="container"> 
<div class="d-flex flex-column align-items-center forms_background p-5 rounded">
<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %>
<%= link_to 'Back', profile_path(@current_profile) %> 
</div> 
</div>
</div>