
<div class="forms_page">
<div class="container"> 
<div class="d-flex flex-column align-items-center forms_background p-5 rounded">
<h1>New Profile</h1>

<%= render 'form', profile: @profile %>  

</div> 
</div>  
</div> 

