
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <%= image_tag("finished_mr_sparkle.png", width:"35", height:"40", class:"d-inline-block align-top", alt:"", loading:"lazy")%>
    Cs:Joe
  </a>
</nav>