
<nav class="navbar"> 

  <a class="navbar-brand logo center p-1" href=<%=root_path%>> 
    <%= image_tag("ak.jpg", width:"40", height:"40", class:"d-inline-block align-top rounded-circle mr-1", alt:"", loading:"lazy")%>
    <span>CS:JOE<span>
  </a> 
  <div>
</nav> 

