// colors
$highlight_color:  #ffc903; 
$header_background_color: #23231d; 
$text_color: whitesmoke; 
$background_color: #292931;

// fonts
$logo_font: 'Stalinist One', cursive; 
$gun_font: 'Chakra Petch', sans-serif;;